<div class="container">

    <form class="form mat-elevation-z8">

        <h1>HelpDesk - Login</h1>

        <img src="assets/img/atom.svg" alt="">

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Ex. fulano@mail.com" >
        </mat-form-field>
      
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Password" >
          </mat-form-field>

          <button class="full-width mat-elevation-z8" mat-stroked-button color="primary">Efetuar login</button>

      </form>

</div>